.footer {
  background: var(--gray-800);
  height: fit-content;
  margin-top: 50px;
}

.footer__row {
  display: flex;
  height: 200px;
  justify-content: space-between;
  align-items: center;
}

.footer__logo-letter {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 0px 20px;
  position: relative;
  background-color: var(--primary-500);
  border-radius: 1000px;
  overflow: hidden;
}

.footer__logo-letter .footer__logo-letter-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: var(--graywhite);
  font-size: 24px;
  letter-spacing: 0;
  line-height: 56px;
  white-space: nowrap;
}

.footer__logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 12px;
}

.footer__logo-text {
  color: var(--gray-white, #fff);
  /* Heading/03 */
  font-family: Work Sans;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px; /* 125% */
}

.footer__links {
  display: flex;
  align-items: flex-start;
  color: var(--gray-50, #f0f1f3);
  /* Body/Regular/400 */
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.footer__link {
  display: flex;
  padding: 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.footer__copyright {
  color: var(--gray-white, #fff);
  /* Body/Regular/400 */
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

@media (max-width: 769px) {
  .footer {
    height: 300px;
  }
  .footer__row {
    flex-direction: column;
    padding: 30px 0;
    height: 300px;
  }

  .footer__links {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
