*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  overflow-x: hidden;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  --graywhite: rgba(255, 255, 255, 1);
  --gray-50: rgba(240, 241, 243, 1);
  --gray-100: rgba(230, 232, 235, 1);
  --gray-200: rgba(195, 199, 206, 1);
  --gray-300: rgba(165, 172, 181, 1);
  --gray-400: rgba(135, 144, 157, 1);
  --gray-500: rgba(105, 116, 132, 1);
  --gray-600: rgba(85, 96, 112, 1);
  --gray-700: rgba(66, 78, 96, 1);
  --gray-800: rgba(43, 56, 76, 1);
  --gray-900: rgba(19, 34, 56, 1);
  --primary-100: rgba(237, 216, 255, 1);
  --primary-200: rgba(219, 177, 255, 1);
  --primary-300: rgba(201, 139, 255, 1);
  --primary-400: rgba(183, 100, 255, 1);
  --primary-500: rgba(165, 61, 255, 1);
  --primary-600: rgba(132, 49, 204, 1);
  --primary-700: rgba(99, 37, 153, 1);
  --primary-800: rgba(66, 24, 102, 1);
  --primary-900: rgba(33, 12, 51, 1);
  --display-font-family: "WorkSans-SemiBold", Helvetica;
  --display-font-weight: 600;
  --display-font-size: 72px;
  --display-letter-spacing: 0px;
  --display-line-height: 84px;
  --display-font-style: normal;
  --body-thin-600-font-family: "WorkSans-SemiBold", Helvetica;
  --body-thin-600-font-weight: 600;
  --body-thin-600-font-size: 12px;
  --body-thin-600-letter-spacing: 0px;
  --body-thin-600-line-height: 16px;
  --body-thin-600-font-style: normal;
  --body-thin-500-font-family: "WorkSans-Medium", Helvetica;
  --body-thin-500-font-weight: 500;
  --body-thin-500-font-size: 12px;
  --body-thin-500-letter-spacing: 0px;
  --body-thin-500-line-height: 16px;
  --body-thin-500-font-style: normal;
  --body-thin-400-font-family: "WorkSans-Regular", Helvetica;
  --body-thin-400-font-weight: 400;
  --body-thin-400-font-size: 12px;
  --body-thin-400-letter-spacing: 0px;
  --body-thin-400-line-height: 16px;
  --body-thin-400-font-style: normal;
  --body-small-600-font-family: "WorkSans-SemiBold", Helvetica;
  --body-small-600-font-weight: 600;
  --body-small-600-font-size: 14px;
  --body-small-600-letter-spacing: 0px;
  --body-small-600-line-height: 20px;
  --body-small-600-font-style: normal;
  --body-small-500-font-family: "WorkSans-Medium", Helvetica;
  --body-small-500-font-weight: 500;
  --body-small-500-font-size: 14px;
  --body-small-500-letter-spacing: 0px;
  --body-small-500-line-height: 20px;
  --body-small-500-font-style: normal;
  --body-small-400-font-family: "WorkSans-Regular", Helvetica;
  --body-small-400-font-weight: 400;
  --body-small-400-font-size: 14px;
  --body-small-400-letter-spacing: 0px;
  --body-small-400-line-height: 20px;
  --body-small-400-font-style: normal;
  --body-regular-600-font-family: "WorkSans-SemiBold", Helvetica;
  --body-regular-600-font-weight: 600;
  --body-regular-600-font-size: 16px;
  --body-regular-600-letter-spacing: 0px;
  --body-regular-600-line-height: 24px;
  --body-regular-600-font-style: normal;
  --body-regular-500-font-family: "WorkSans-Medium", Helvetica;
  --body-regular-500-font-weight: 500;
  --body-regular-500-font-size: 16px;
  --body-regular-500-letter-spacing: 0px;
  --body-regular-500-line-height: 24px;
  --body-regular-500-font-style: normal;
  --body-regular-400-font-family: "WorkSans-Regular", Helvetica;
  --body-regular-400-font-weight: 400;
  --body-regular-400-font-size: 16px;
  --body-regular-400-letter-spacing: 0px;
  --body-regular-400-line-height: 24px;
  --body-regular-400-font-style: normal;
  --body-large-600-font-family: "WorkSans-SemiBold", Helvetica;
  --body-large-600-font-weight: 600;
  --body-large-600-font-size: 18px;
  --body-large-600-letter-spacing: 0px;
  --body-large-600-line-height: 24px;
  --body-large-600-font-style: normal;
  --body-large-500-font-family: "WorkSans-Medium", Helvetica;
  --body-large-500-font-weight: 500;
  --body-large-500-font-size: 18px;
  --body-large-500-letter-spacing: 0px;
  --body-large-500-line-height: 24px;
  --body-large-500-font-style: normal;
  --body-large-400-font-family: "WorkSans-Regular", Helvetica;
  --body-large-400-font-weight: 400;
  --body-large-400-font-size: 18px;
  --body-large-400-letter-spacing: 0px;
  --body-large-400-line-height: 24px;
  --body-large-400-font-style: normal;
  --heading-01-font-family: "WorkSans-SemiBold", Helvetica;
  --heading-01-font-weight: 600;
  --heading-01-font-size: 48px;
  --heading-01-letter-spacing: 0px;
  --heading-01-line-height: 56px;
  --heading-01-font-style: normal;
  --heading-02-font-family: "WorkSans-SemiBold", Helvetica;
  --heading-02-font-weight: 600;
  --heading-02-font-size: 38px;
  --heading-02-letter-spacing: 0px;
  --heading-02-line-height: 50px;
  --heading-02-font-style: normal;
  --heading-03-font-family: "WorkSans-SemiBold", Helvetica;
  --heading-03-font-weight: 600;
  --heading-03-font-size: 32px;
  --heading-03-letter-spacing: 0px;
  --heading-03-line-height: 40px;
  --heading-03-font-style: normal;
  --heading-04-font-family: "WorkSans-SemiBold", Helvetica;
  --heading-04-font-weight: 600;
  --heading-04-font-size: 24px;
  --heading-04-letter-spacing: 0px;
  --heading-04-line-height: 100%;
  --heading-04-font-style: normal;
  --heading-05-font-family: "WorkSans-SemiBold", Helvetica;
  --heading-05-font-weight: 600;
  --heading-05-font-size: 20px;
  --heading-05-letter-spacing: 0px;
  --heading-05-line-height: 24px;
  --heading-05-font-style: normal;
}

.container {
  max-width: 1285px;
  padding: 0 35px;
  margin: 0 auto;
}
